.comments {
  background-color: var(--c-dgray);
  width: 400px;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
  transition: transform 0.3s ease, width 0.3s ease;
  box-shadow: 0px 0px 15px 0px var(--c-gray);
  max-height: 100vh;

  &.collapsed {
    transform: translateX(100%);
    width: 0;

    & h2 {
      color: transparent;
    }

    >.collapse-btn {
      display: block;
      transform: translateX(400px);
    }
  }

  >.collapse-btn {
    background-color: inherit;
    position: absolute;
    right: 400px;
    top: 25px;
    transition: transform 0.3s ease;
    box-shadow: 0 0 15px 0 var(--c-gray);
    clip-path: inset(-15px 0 -15px -15px);
    border-radius: 10px 0 0 10px;
    display: flex;
    align-items: center;
  }

  >h2 {
    align-self: center;
    margin-top: 20px;
  }

  >.comment-list {
    height: calc(100% - 80px);
    width: 100%;
    overflow-y: scroll;
    padding-top: 10px;

    & .comment {
      width: 100%;
      padding: 0 10px 10px 10px;
      max-height: 250px;

      &.has-replies {
        box-shadow: 0 0 15px 6px var(--c-dgray);
        clip-path: inset(0 0 -20px 0);
      }

      >.comment-header {
        height: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        >.nametag {
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;

          >.comment-pfp {
            aspect-ratio: 1 / 1;
            height: 40px;
          }

          >.username {
            position: relative;
            top: 10px;
          }
        }

        .comment-reactions {
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          font-size: 1.1rem;

          /*
           * purely out of spite for my own decisions i will never give these
           * a shared class, the list will simply continue to get longer until
           * i make this a dropdown menu
           */
          >.reaction-like,
          >.reaction-dislike,
          >.reply-btn,
          >.edit-btn,
          >.trash-btn {
            height: 1.1rem;
            transition: filter 0.05s ease;
            position: relative;

            &:hover {
              cursor: pointer;
              filter: brightness(70%);
            }

            &:active {
              filter: none;
            }

            &::before {
              content: "";
              position: absolute;
              border-radius: 50%;
              filter: blur(2px);
              height: 100%;
              width: 100%;
              pointer-events: none;
            }

            &.selected {
              &:hover {
                color: inherit;
              }
            }
          }

          >.reaction-like {
            margin-right: 5px;
            margin-left: 5px;

            &:hover {
              color: var(--c-a-blue);
            }

            &:active {
              filter: none;

              &::before {
                border: 1px solid var(--c-a-blue);
              }
            }
          }

          >.reaction-dislike {
            &:hover {
              color: #f00;
            }

            &:active::before {
              border: 1px solid #f00;
            }
          }

          >.reply-btn {
            &:hover {
              color: var(--c-a-purp);
            }

            &:active::before {
              border: 1px solid;
            }
          }

          >.edit-btn {
            &:hover {
              color: #fff;
            }

            &:active::before {
              border: 1px solid;
            }
          }

          >.trash-btn {
            &:hover {
              color: #f00;
            }

            &:active::before {
              border: 1px solid;
            }
          }
        }
      }

      >.comment-content {
        margin: 15px 0 5px 0;
        max-height: 100%;
        overflow-y: auto;
      }

      >.replies-btn {
        padding: 2px;
        width: 100%;
        font-size: inherit;
      }
    }

    >.replies-view {
      background-color: var(--c-gray);
      padding-top: 10px;
      margin-bottom: 10px;
    }
  }

  >.comment-field {
    position: relative;
    display: flex;
    height: 80px;
    width: 100%;

    >.action-line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 5px;
      background-color: var(--c-dgray);
      position: absolute;
      height: 2rem;
      transform: translateY(-2rem);
      box-shadow: 0 0 15px 0 var(--c-gray);
      clip-path: inset(-25px 0 0 0);
      transition: transform 0.1s ease;

      &.hidden {
        transform: translateY(0);

        >.cancel-action-btn,
        >.cancel-action-btn:hover {
          transition: none;
          color: transparent;
        }
      }

      >.cancel-action-btn {
        height: 1rem;
        width: 1rem;
        transition: color 0.1s ease, filter 0.1s ease;
        position: relative;

        &:hover {
          color: #f00;
          cursor: pointer;
          filter: brightness(70%);
        }

        &:active {
          filter: none;
        }

        &::before {
          content: "";
          position: absolute;
          border-radius: 50%;
          filter: blur(2px);
          height: 100%;
          width: 100%;
          pointer-events: none;
        }

        &.selected {
          &:hover {
            color: inherit;
          }
        }
      }
    }
  }
}
