.comments {
  background-color: var(--c-gray);
  width: 400px;
  max-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
  transition: transform 0.3s ease, width 0.3s ease;
  box-shadow: 0px 0px 15px 0px var(--c-gray);
  max-height: 100vh;

  &.collapsed {
    transform: translateX(100%);
    width: 0;

    >.collapse-btn {
      right: 0;
    }

    & .comment-content {
      /*white-space: nowrap;*/
      /*overflow: hidden;*/
      /*text-overflow: ellipsis;*/
    }
  }

  >.collapse-btn {
    position: absolute;
    right: 400px;
  }

  >.comment-list {
    height: 90%;
    overflow-y: scroll;

    >.comment {
      padding: 10px;
      max-height: 250px;

      >.comment-header {
        height: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        >.nametag {
          height: 100%;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;

          >.comment-pfp {
            aspect-ratio: 1/1;
            height: 40px;
          }

          >.username {
            position: relative;
            top: 10px;
          }
        }

        .comment-reactions {
          display: flex;
          flex-direction: row;
          align-items: flex-end;
          font-size: 1.1rem;

          >.reaction-like,
          >.reaction-dislike {
            height: 1.1rem;
            transition: filter 0.05s ease;
            position: relative;

            &:hover {
              cursor: pointer;
              filter: brightness(70%);
            }

            &:active {
              filter: none;
            }

            &::before {
              content: "";
              position: absolute;
              border-radius: 50%;
              filter: blur(2px);
              height: 100%;
              width: 100%;
              pointer-events: none;
            }

            &.selected {
              &:hover {
                color: inherit;
              }
            }
          }

          >.reaction-like {
            margin-right: 5px;

            &:hover {
              color: var(--c-a-blue);
            }

            &:active {
              filter: none;

              &::before {
                border: 1px solid var(--c-a-blue);
              }
            }
          }

          >.reaction-dislike {
            &:hover {
              color: #f00;
            }

            &:active::before {
              border: 1px solid #f00;
            }
          }
        }
      }
    }
  }

  >.comment-field {
    display: flex;
    height: 50px;
  }
}
